.box1 { grid-area: header; }
.box2 { grid-area: menu; }
.box3 { grid-area: main; }
.box4 { grid-area: right; }
.box5 { grid-area: footer; }
.box6 { grid-area: box6; }
.container {
  display: grid;
  grid-template-areas:
    'header header header  menu box6'
    'main main main right  box6'
    'footer footer footer footer box6'
;
  gap: 10px;
  padding: 10px;
  text-align: center;
}

.box1{
  width: 100%;
  height: 400px;
  background-color: brown;
}
.box2{
  width: 100%;
  background-color: green;
}
.box3{
  width: 100%;
  height: 200px;
  background-color: blueviolet;
}
.box4{
  width: 100%;
  background-color: greenyellow;
}
.box5{
  width: 100%;
  height: 300px;
  background-color: rgb(37, 136, 143);
}
.box6{
  width: 100%;
  background-color: purple;
}
.textColor{
  color: #fff;
}